@import "ui/styles/global.css";

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  stroke-width: 2px;
  border-bottom: none;
  border-top: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 5px;
  transition: all 3s ease-in;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #717171;
}

@media screen and (min-width: 768px) {
  #hero-section {
    background: radial-gradient(
      32.05% 51.28% at 0% 50%,
      rgba(28, 172, 239, 0.32) 0%,
      rgba(15, 147, 208, 0) 100%
    );
  }
}

body {
  overflow-x: hidden;
}
