@import "ui/styles/global.css";

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  stroke-width: 2px;
  border-bottom: none;
  border-top: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #44b6e9;
  border-radius: 4px;
  transition: all 3s ease-in;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d7a9c;
}

@media screen and (min-width: 1400px) {
  #hero-section {
    background: radial-gradient(
      32.05% 51.28% at 0% 50%,
      rgba(28, 172, 239, 0.32) 0%,
      rgba(15, 147, 208, 0) 100%
    );
  }
}

body {
  overflow-x: hidden;
}
