@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* fontsize mobile  */

  .mobile-subtitle {
    @apply text-[8px] font-[400] leading-[12px];
  }
  .mobile-overline {
    @apply text-[10px] font-[400] leading-[12px];
  }
  .mobile-description {
    @apply text-[12px] font-[400] leading-[12px];
  }
  .mobile-title {
    @apply text-[12px] font-[700] leading-[12px];
  }
  .mobile-h4 {
    @apply text-[14px] font-[700] leading-[16px];
  }
  .mobile-h3 {
    @apply text-[18px] font-[700] leading-[28px];
  }
  .mobile-h2 {
    @apply text-[24px] font-[700] leading-[28px];
  }
  .mobile-h1 {
    @apply text-[32px] font-[700] leading-[36px];
  }

  /* Font Size Tablet  */
  .tablet-overline {
    @apply text-[12px] font-[400] leading-[12px];
  }
  .tablet-subtitle {
    @apply text-[12px] font-[400] leading-[12px];
  }
  .tablet-description {
    @apply text-[14px] font-[400] leading-[12px];
  }
  .tablet-title {
    @apply text-[14px] font-[700] leading-[12px];
  }
  .tablet-h4 {
    @apply text-[18px] font-[700] leading-[20px];
  }
  .tablet-h3 {
    @apply text-[22px] font-[700] leading-[31px];
  }
  .tablet-h2 {
    @apply text-[36px] font-[700] leading-[51px];
  }
  .tablet-h1 {
    @apply text-[64px] font-[700] leading-[91px];
  }

  /* font size web  */
  .web-overline {
    @apply text-[14px] font-[400] leading-[12px];
  }
  .web-subtitle {
    @apply text-[14px] font-[400] leading-[12px];
  }
  .web-description {
    @apply text-[16px] font-[400] leading-[12px];
  }
  .web-title {
    @apply text-[16px] font-[700] leading-[12px];
  }
  .web-h4 {
    @apply text-[20px] font-[700] leading-[28px];
  }
  .web-h3 {
    @apply text-[24px] font-[700] leading-[34px];
  }
  .web-h2 {
    @apply text-[48px] font-[700] leading-[68px];
  }
  .web-h1 {
    @apply text-[96px] font-[700] leading-[136px];
  }
}

@font-face {
  font-family: "Switzer-Regular";
  src: url("./fonts/Switzer-Regular.otf");
}

@font-face {
  font-family: "Excon-Regular.otf";
  src: url("./fonts/Excon-Regular.otf");
}
